Phase 1 ---Data Collection/preparation part

In [14]:
import numpy as np
import pandas as pd

#### 1. Population of each state

In [11]:
df = pd.read_csv('Population.csv')
df

     Year                      State   Population
0    2001          Jammu and Kashmir      10069917
1    2001           Himachal Pradesh       6077248
2    2001                     Punjab      24289296
3    2001                 Chandigarh        900914
4    2001                Uttaranchal       8479562
..    ...                        ...           ...
415  2012                LAKSHADWEEP         64444
416  2012                     KERALA      33394186
417  2012                 TAMIL NADU      72070998
418  2012                 PUDUCHERRY       1245876
419  2012  ANDAMAN & NICOBAR ISLANDS        380397

[420 rows x 3 columns]

#### 2. Literacy Rate of each state

In [12]:
df = pd.read_csv('Literacy Rate of each state.csv')
df

,Year,India / States / Union Territories,Literacy rate as %age of population
0,2001,A&N islands,81.30
1,2001,Andhra Pradesh,60.47
2,2001,Arunachal Pradesh,54.34
3,2001,Assam,63.25
4,2001,Bihar,47.00
...,...,...,...
415,2012,Tamil Nadu,80.33
416,2012,Tripura,87.22
417,2012,Uttar Pradesh,67.68
418,2012,Uttarakhand,78.82
419,2012,West Bengal,76.26

#### 3. Area of each state

In [13]:
df = pd.read_csv('Area of each state.csv')
df

         Year                    State/ Union Territory Area (sq km)
0   2001-2012                                Rajasthan        342239
1   2001-2012                           Madhya Pradesh        308252
2   2001-2012                               Maharashtra     3,07,713
3   2001-2012                            Uttar Pradesh      2,40,928
4   2001-2012                                    Gujrat     1,96,244
5   2001-2012                                 Karnataka     1,91,791
6   2001-2012                            Andhra Pradesh     1,62,968
7   2001-2012                                    Odisha     1,55,707
8   2001-2012                              Chhattisgarh     1,35,192
9   2001-2012                                Tamil Nadu     1,30,060
10  2001-2012                                 Telangana     1,12,077
11  2001-2012                                    Bihar        94,163
12  2001-2012                              West Bengal        88,752
13  2001-2012                        Arunachal Pradesh        83,743
14  2001-2012                                 Jharkhand       79,716
15  2001-2012                                    Assam        78,438
16  2001-2012                                    Ladakh       59,000
17  2001-2012                         Himachal Pradesh        55,673
18  2001-2012                               Uttarakhand       53,483
19  2001-2012                                    Punjab       50,362
20  2001-2012                         Jammu and Kashmir       42,241
21  2001-2012                                   Haryana       44,212
22  2001-2012                                    Kerala       38,852
23  2001-2012                                 Meghalaya       22,429
24  2001-2012                                  Manipur        22,327
25  2001-2012                                   Mizoram       21,081
26  2001-2012                                  Nagaland       16,579
27  2001-2012                                   Tripura       10,486
28  2001-2012               Andaman and Nicobar Islands        8,249
29  2001-2012                                   Sikkim         7,096
30  2001-2012                                      Goa         3,702
31  2001-2012                                    Delhi         1,483
32  2001-2012  Dadra and Nagar Haveli and Daman and Diu          602
33  2001-2012                                Puducherry          490
34  2001-2012                               Chandigarh           114
35  2001-2012                               Lakshadweep           30